<nav class="navbar navbar-default">
  <div class="container-fluid">


<!--    <form class="navbar-form navbar-right" role="search"> 
<div class="navbar-form navbar-left" role="logout">
	
	<a href="{{url_for('logout') }}">
		<img src="{{ url_for('static', filename='img/logout.png') }}" height="35px" ></img>
  	</a>
 
</div>
-->
<form action="{{ url_for('list') }}"  method="POST" id="searchForm">
  <div class="navbar-form navbar-right" role="search">
    <div class="form-group">
      <input type="text" class="form-control" name="search" placeholder="Search" value={{ search }} >

    </div>
    <button type="submit" name="submit_search" class="btn btn-default"  >Search</button>
</form>

    	<a href="{{url_for('logout') }}">
		<img src="{{ url_for('static', filename='img/logout.png') }}" height="34px" ></img>
  		</a>
  
  </div>
<!--   </form> -->
  </div>
</nav>

