<!doctype html>

<html>
<title> {{ post.title }}  </title>

<style>
.container { width:600px; overflow:hidden }
.cube { width:150px; height:150px; float:left }
</style>


<body>
<div class="container">

	{% if post.image %}
		<img src="{{ post.imgsrc }}" height="300px" class="img-rounded"  />
	{% endif %}



	<h3>{{ post.title }}   </h3>

	{% if session.get('is_author') %}
		<a href=" {{ url_for('edit', post_id=post.id )  }} "> Edit </a> -
		<a href=" {{ url_for('delete', post_id=post.id ) }} "> Delete </a>
	{% endif %}

    {{ post.body| markdown }}

    <hr />
    <div> 
    	{{ post.author.fullname }}  on  {{ post.publish_date.strftime('%Y-%m-%d')}}
    </div>
</div>
</body>
</html>