<html>
{% from "_formhelpers.html" import render_field %}
<form method="post" action="{{url_for('register')}}" role="form">
 
 {{ form.hidden_tag() }}

  <dt>
    {{ render_field(form.fullname , class="form-control", placeholder="fullname") }}
    {{ render_field(form.username,  class="form-control" ,placeholder="username" )  }}
    {{ render_field(form.email,  class="form-control", placeholder="email" ) }}
    {{ render_field(form.password,  class="form-control",placeholder="password" )}}
    {{ render_field(form.confirm,  class="form-control") }}
   
  </dl>
  <p><input type="submit" value="Register">
</form>
</html>