{% extends "base.html" %}

{% block  content %}
	<div class="container">
	  <h1>Welcome to Flask!</h2>
	  <h4> Login success </h4>

	  <h3>  Add Post! </h3>

  	{% from "__formhelpers.html" import render_field %}


	<form action='' method="POST">
		{{ form.csrf_token  }}
		<dl>
		 	{{ render_field(form.title) }}
		 	{{ render_field(form.description) }}
		</dl>
		<input class="btn btn-success" type="submit" value="submit">
	</form>

	  <br>
	  <p>Click <a href="/logout">here</a> To logout.</p>
	  <br><br>
	  <h5> Posts: </h5>
	  {% for post in  posts %}
	  	<strong>Title:</strong> {{ post.title }} <br>
	  	<strong>Post:</strong> {{ post.description }} <br>
	  	<strong>Author:</strong> {{ post.author.name }} <br>
	     <br>
	  {% endfor %}
	  {{ context.title }}
	  {{ context.creator }}
	</div>

{% endblock %}