<!DOCTYPE html>
<html lang="en">
<Head>
	<meta charset="utf-8">
	<title> Pythone Programming Tutorials</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<!-- <link href="{{ url_for ('static',filename='assets/css/docs.min.css')   }}" rel=stylesheet> -->
	<link href="{{ url_for ('static',filename='css/bootstrap.min.css')  }}" rel=stylesheet>
	<link rel="shortcut icon" href="{{ url_for ('static',filename='favicon.ico')  }}">

</Head>
<body>

		<p> Hello  Saza!! </p>
</body>
</html>
