{% extends "header.html" %}


{% block body %}


<div class="container">
	<br>
	<h4>  Retgister: </h4>
	<br>

	{% from "_formhelpers.html" import render_field %}

	<form action="{{ url_for('register_page') }}" method="POST" class="form-inline" >
     {{ form.csrf_token }}
	<!-- 	{{ form.username.label }}  {{ form.username(size=20) }} -->
		<dl>
		 	{{ render_field(form.username) }}
		 	{{ render_field(form.email) }}
		 	{{ render_field(form.password) }}
		 	{{ render_field(form.confirm) }}
		 	{{ render_field(form.accept_tos) }}
		</dl>

		<p>		<input class="btn bth-default" type="submit" value="Register"> </p>

	</form>

	
	{%  if error %}


		<p class="error"> <strong> {{ error }}  </strong></p>
	{%  endif %}

</div>

{% endblock %}